.entsprichtZeichen,
.dropdown,
.dropdown1,
.dropdownDimension,
.ausgangsWert,
.submit,
.endWertAusgaben {
  box-sizing: border-box;
  height: 10%;
  width: 30%;
  position: fixed;
}

.submit,
.ausgangsWert,
.endWertAusgaben {
  padding: 5px;
  border-radius: 10px;
  background-color: #eeeded;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}

.dropdown:hover .dropbtn,
.dropdown1:hover .dropbtn,
.dropdownDimension:hover .dropbtn {
  background-color: #ddd;
}

.dropdownDimension {
  top: 30%;
  left: 30%;
}

.ausgangsWert {
  top: 40%;
  left: 10%;
}

.dropdown {
  top: 50%;
  left: 50%;
}

.entsprichtZeichen {
  top: 40%;
  left: 82%;
  font-size: 500%;
}

.endWertAusgaben {
  top: 60%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown1 {
  top: 70%;
  left: 50%;
}

.submit {
  top: 80%;
  left: 30%;
}
